.space-banner {
    background: linear-gradient(97.34deg, #F015FE 0%, #22E2AD 52.58%, #2BC0E3 93.75%);
    padding-bottom: 30px;
    padding-top: 30px;

    h2 {
        color: #fff;
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 35px;
    }

    .space {
        position: relative;


        &::before {
            content: '';
            position: absolute;
            border-radius: 100px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(#000, .3);

        }

        &>a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            border-radius: 100px;
        }

        color: #fff;
        border-radius: 100px;

        h3 {
            font-size: 1.5rem;
            margin-bottom: 0;
            padding: 0 10px;
        }

        .image {
            img {
                width: 100%;
                border-radius: 100px;
            }
        }

        &-info {
            position: absolute;
            z-index: 99;
            top: 0;
            height: 100%;
            right: 0;
            left: 0;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            .users {
                display: flex;
                padding-bottom: 20px;
                gap: 10px;
                justify-content: center;
                margin-top: 10px;

                p {
                    margin: 0;

                    font-size: 2rem;
                }
            }
        }
    }

    .slider-button-row {
        margin-top: 30px;
        justify-content: flex-end;

        .button-container {
            display: flex;
            gap: 10px;

            .btn {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .space-banner {
        h2 {
            br {
                display: none;
            }
        }
    }
}